@import "tailwindcss";

:root {
    --background: rgb(31, 31, 31);

    --mainColor: rgb(255, 2, 150);
    --mainColor2: rgb(163, 1, 95);

    
    --fixedColor: rgb(255, 255, 255);
    --fixedColor2: rgb(0, 0, 0);

    --span: rgb(255, 0, 0);
    --confirmado: rgb(51, 255, 0);
    --solicitado: rgb(255, 94, 0);

    --mainShadow: 0 2px 10px rgb(5, 5, 5);
    --mainShadowEase: 0 5px 20px rgba(0, 0, 0, 0.534);
    --buttonShadow: 0 5px 10px rgba(255, 0, 179, 0.459);

}   

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-bebas);
}

.font-anton {
  font-family: var(--font-anton);
}

.font-bebas {
  font-family: var(--font-bebas);
}

.font-oswald {
  font-family: var(--font-oswald);
}

.Toastify__toast {
  background: var(--fixedColor) !important;
  border-radius: 8px !important;
  font-family: var(--font-oswald) !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 10px 15px !important;
  margin-top: 20px !important;
  box-shadow: var(--mainShadow) !important;

}

.Toastify__progress-bar {
  background: var(--mainColor) !important;
  
}

.Toastify__close-button {
  color: var(--mainColor2) !important;
  width: 40px !important;
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px !important;
  font-weight: bold !important;
}


.Toastify__toast--success {
  color: var(--confirmado) !important;
}
.Toastify__toast--error {
  color: var(--span) !important;
}

 .logo {
    object-fit: cover;
 }

main{
      width: 100vw;
      height: 612px;
}

footer {
  font-size: 0.8rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--themeColor1);
  color: var(--mainColor);
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: -50px;
  margin-bottom: 40px;
  text-align: center;
}

h2{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 500;
  margin-top: 10px;
}

h3{
  color: var(--mainColor2);
  font-size: 1.5rem;
  font-weight: 600;
}

h4{
  color: var(--mainColor2);
  font-size: 1rem;
  font-weight: 500;
  
}

h5{
  color: var(--mainColor);
  font-size: 16px;
  font-weight: 500;
}

span{
    font-size: 16px;
    font-weight: 500;
    color: var(--mainColor);
    font-family: var(--font-oswald);
    margin-bottom: 6px;
}

input{
      font-family: var(--font-oswald);
      background-color: rgb(255, 255, 255);
      color: var(--mainColor);

}

input::placeholder{
  color: #6d0049;
}

p{
  font-family: var(--font-oswald);
  color : var(--mainColor);
}


button {
  cursor: pointer;
  transition: all 0.5s ease;
  border: none;
  font-weight: 500;
  color: var(--fixedColor);
  background-color: var(--mainColor);
  
}

.DemoButton {
    padding: 15px 30px;
     border-radius: 25px;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

button:active {
  transform: translateY(0);
  transition: all 0.5s ease;
}

.componentContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.componentHeader {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.componentArea {
  width: 99.5%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 30px;
}

/* customizar barra (Chrome/Edge/Safari) */
.componentArea::-webkit-scrollbar {
  width: 12px;
}

.componentArea::-webkit-scrollbar-track {
  background: #b1b1b1;
  border-radius: 15px;
}

.componentArea::-webkit-scrollbar-thumb {
  background: #131313;
  border-radius: 8px;
}

.componentArea::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}



@media (max-width: 700px) {
  
  span{
    font-size: 14px;
    
  }
  

  
}



