

.UserTurmaCard {
    background-color: var(--themeColor1);
    color: rgb(0, 0, 0);
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.UserTurmaCard:hover {
    transform: scale(1.05);
    box-shadow: var(--mainShadow);
    transition: 0.5s ease;
}

.UserTurmaCardHeader{
    width: 100%;
    height: 50px;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid var(--mainColor2);
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    background-color: var(--fixedColor);
}

.UserTurmaCardBody {
    width: 100%;
    display: flex;
    padding-top: 35px;
    flex-direction: column;
    background-color: var(--themeColor1);
}



.infoRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}


.UserTurmaCardInfo {
    display: flex;
    width: 100%px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.UserTurmaCardInfo span{
    margin-bottom: 5px;
    margin-left: 10px;
}
.status.Solicitado {
    color: var(--solicitado);
}
.status.Confirmado {
    color: var(--confirmado);
}


.request-checkin-btn{
    width: 140px;
    height: 30px;
    background-color: var(--mainColor);
    font-size: 14px;
    font-weight: 500;
    color: var(--fixedColor);
    border-radius: 10px;
    margin-bottom: 20px;
}



@media (max-width: 480px) {
    .UserComponentArea {
            flex-direction: column;
                flex-wrap: nowrap;
            align-items: center;
            padding: 10px;
            gap: 10px;
            width: 95%;
        }
    
        .UserTurmaCard {
            width: 95%;
            min-width: 280px;
            margin-bottom: 20px;
            margin-top: 10px
        }

    
        .UserTurmaCardBody {
            padding: 20px;
            border-radius:0px 0px 10px 10px ;
        }
    
        .turma-info,
        .turma-detail {
            gap: 5px;
        }
    
        .turma-action {
            gap: 10px;
            margin-top: 10px;
        }
    
        .request-checkin-btn {
            min-width: 80px;
            height: 55px;
            font-size: 14px;
            margin-right: 0;
        }
}
