/* .login Page Styles */
.loginBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  
}


.loginLogo {
  width: 450px;
  height: 450px;
  margin-top: -80px;
  
}

.formArea{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -30px;

}

.formArea h1{
  margin-bottom: 10px;
  font-size: 32px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: var(--fixedColor);
}

.LoginInput{
  width: 100%;
  max-width: 350px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.LoginInput:focus{
  outline: none;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.LoginInput::placeholder{
  color: #666;
}

.loginButton {
  width: 100%;
  max-width: 250px;
  height: 40px;
  border-radius: 25px;
  background:var(--mainColor3);
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.loginButton:hover {
  background: #fc0000;
  transform: translateY(-2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.loginButton:active {
  transform: translateY(0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.registerLink {
    width: 100%;
    max-width: 350px;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    background:none;
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}



.googleButton {
  width: 100%;
  max-width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 18px;
  gap: 25px;
  border-radius: 25px;
  background: #ffffff;
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-oswald);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.googleButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.googleButton:active {
  transform: translateY(0);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
}



/* Responsive Design */
@media (max-width: 480px) {
  .loginBody {
    padding: 10px;
  }

  .loginLogo {
    width: 350px;
    height: 350px;
    margin-top: -40px;
  }

  .login {
    max-width: 300px;
    padding: 12px 18px;
  }
}
