
.profileContainer {
    width: 90%;
    min-width: 300px;
    max-width: 600px;
    height: 90%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    background-color: var(--mainColor1);


}

.profileField {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap:10px;
    padding: 10px;


}

.profileField input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    
}

.editButtons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-right: 40px;

}
.editButtons button {
    background: none;
    background-color: transparent;
    border: none;
}

.passwordButton {
    background-color: var(--mainColor4);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.passwordButton:hover {
    background-color: var(--mainColor3);
}

.selected {
    background-color: var(--mainColor3);
    box-shadow: var(--buttonShadow);
}


@media (max-width: 480px) {



}