.admin-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.admin-content {
    flex: 1; /* This allows the content to grow and take available space */
    width: 100vw;
    height: 80%;
}






