.loading-message,
.empty-message {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.CheckinTurmaCard {
  width: 480px;
  height: 500px;
  background-color: var(--mainColor1);
  box-shadow: var(--mainShadowEase);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  margin-top: 20px;
}

.CheckinTurmaCard:hover {
  transform: scale(1.05);
  box-shadow: var(--mainShadow);
  transition: 0.5s ease;
}

.CheckinCardHeader {
  background-color: var(--fixedColor);
  color: var(--mainColor1);
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px 10px 0px 0px;
}

.CheckinCardDataArea {
  display: flex;
  width: 140px;
  flex-direction: column;
  align-items: flex-start;
}
.CheckinCardHeader span {
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
}

.CheckinCardBody {
  padding: 20px;
  width: 100%;
}

.checkin-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  height: 30px;
}

.checkin-btn {
  border-radius: 10px;
  background-color: var(--mainColor4);
  color: var(--fixedColor);
  width: 45%;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}

.checkin-btn.active {
  background-color: var(--mainColor3);
  box-shadow: var(--mainShadow);
}

.checkinsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainColor4);
  color: var(--mainColor2);
  border-radius: 10px;
  height: 310px;
  margin-top: 20px;
  overflow: auto;
}

.checkins {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.checkinCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 80px;
  background-color: var(--fixedColor);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.checkinAddButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor3);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  font-size: 100px;
  font-weight: 500;

  &&:hover {
    box-shadow: var(--mainShadow);
  }
}

.checkinInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.checkinInfo span {
  font-size: 16px;
  margin-left: 4px;
}

.checkinCard select {
  border-radius: 5px;
  border: 2px solid var(--fixedColor2);
  background-color: rgb(255, 255, 255);
  color: var(--mainColor3);
  font-size: 14px;
  width: 200px;
  height: 30px;
}

.AddButtons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 10px;
  font-size: 100px;
  font-weight: 500;
}



.checkinButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 30px;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.checkinButton:hover {
  box-shadow: 0 2px 10px rgb(5, 5, 5);
}



@media (max-width: 480px) {
  .checkinCard {
    flex-direction: column;
    justify-content: center;
    height: 100px;
  }
  .checkinButton {
    width: 180px;
    margin-right: 0;
  }
  .AddButtons {
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
  }

  .checkin-btn {
    font-size: 14px;
  }
}

@media (max-width: 405px) {
    .CheckinTurmaCard {
    min-width: 285px;
    width: 98%;
    height: auto;
  }
  .CheckinCardHeader {
    flex-direction: column;
    justify-content: flex-start;
  }

  .CheckinCardHeader h3{
    font-size: 20px;
  }

  .CheckinCardDataArea {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  
}
